<footer>
  <div class="f-info-socials">
    <i class="fa-brands fa-square-facebook"></i>
    <i class="fa-brands fa-square-instagram"></i>
    <i class="fa-brands fa-square-github"></i>
  </div>
  <div class="f-brand-name">&copy; WanderLust Private Limited</div>
  <div class="f-info-links">
    <a href="/private">Private</a>
    <a href="/term">Term</a>
  </div>
</footer>