<% layout('/layouts/boilerplate') -%>
    <div class="row mt-4 row-cols-lg-3 row-cols-sm-2 row-cols-xl-4">
      <% for(let listing of allListings) { %>
        <a href="/listings/<%= listing._id %>">
          <div class="card listing-card card-view" >
            <img src="<%= listing.image.url%>" class="card-img-top" alt="image">
            <div class="card-body">
              <b><p class="card-text"><%= listing.title %></b>
              <br>
              &#8377; <%= listing.price.toLocaleString("en-IN") %>/night
            </p>
            </div>
          </div> 
        </a>
      <% } %>
    </div>


